<br><br><br><br><br>
<div class="card bgi">
<div class="container-fluid"><br><br><br>
  <div class="container mt-4">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-5 border card bg-dark text-white">
          <button class="btn btn-primary mt-3 mb-5 para" [routerLink]="['/login']">Admin</button>  
          <h6>Description:</h6>
          <p>This portal is only for Administrator.Only administrator can update,crete and delete system entries</p><br>
        </div>
      
        <div class="offset-1 col-md-5 border card bg-dark text-white"> 
            <button class="btn btn-primary mt-3 mb-5 para" [routerLink]="['/employee']">Employee</button>  
            <h6>Description:</h6>
          <p>This portal is open for everyone.You can see the details of the system.</p><br>
  </div>
      </div>
    </div>


  </div>
 <br><br><br><br><br><br><br>
  <div class="text-white"><hr style="color:white;"></div>
</div>
<footer class="mt-50 text-center text-white">
    powered by xyz.ltd
  </footer>
</div>