<br><br><br><br>
<div class="card bgi">
  <br><br>
    <table class="table table-bordered text-white col-md-6 offset-3 bg-dark">
        <thead>
          <th>System Id</th>
          <th>System Name</th>
          <th>User Name</th>
        </thead>
        <tbody>
          <tr *ngFor="let device of success" class="text-white">
            <td>{{device.systemId}}</td>
            <td>{{device.systemName}}</td>
            <td>{{device.user}}</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
          <button [routerLink]="['/admin']" class="btn btn-primary">Back</button>
      </div><br><br><br><br><br><br>
      <div class="text-center text-white">
        powered by xyz.ltd
      </div>
</div>